$color__primary: #80cbc4;
$color__primary--dark: rgba(153, 153, 153, 0.5);
$color__primary--xdark: #009688;

$color__secondary: #ffffff;
$color__secondary--dark: #eeeeee;
$color__secondary--xdark: #616161;

$color__tertiary: #db4437;
